@import 'react-calendar/dist/Calendar.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }

  .scroll::-webkit-scrollbar {
    width: 10px;
  }

  .scroll::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(128, 128, 128, 0.1);
  }

  .scroll::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: #505159;
  }
}


:root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  /*background: rgba(30, 31, 34, 1);*/
  /*background: #1c1c1e;*/
  background: #35363A;

}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #35363A;
  /*background: #1d2939;*/
  /*background: rgba(30, 31, 34, 1);*/
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.padding {
  padding: 6rem 2rem 2rem 2rem;
}

.no-map {
  background-image: url("../../public/no-map.svg");
}

.filter:not(.map-icon) {
  filter: saturate(0.3) invert(1) hue-rotate(180deg);
}

.map-icon {
  filter: saturate(1) invert(1) hue-rotate(180deg);

  svg {
    margin-top: 20%;
    height: 80%;
    width: 80%;
  }
}

.collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content) {
  padding-bottom: 0;
}

.collapse-title, :where(.collapse > input[type="checkbox"]) {
  min-height: 0;
}


::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  width: 0;
}

::-webkit-scrollbar-thumb {
  width: 0;
}

::-webkit-scrollbar-thumb:hover {
  width: 0;
}


.leaflet-control-attribution {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #9A9FA3;
}


/* fix chromium-bug: https://github.com/highcharts/highcharts/issues/21144*/
.charts {
  pointer-events: fill;
}


/*date picker*/
.bg-dark.rmdp-wrapper, .rmdp-month-picker, .rmdp-year-picker,
.rmdp-container::after {
  margin-top: 10px;
  background: #1c1c1e !important;
  font: inherit;
  border-radius: 0.5rem;
  z-index: 1;

  .rmdp-week-day {
    color: #9A9FA3
  }

  .rmdp-arrow {
    border-color: #9A9FA3;
  }

  .rmdp-arrow-container:hover {
    box-shadow: none;
    background: transparent;
    
    .rmdp-arrow {
      border-color: white;
    }
  }
}
