@import '@wojtekmaj/react-daterange-picker/dist/DateRangePicker.css';
@import 'react-calendar/dist/Calendar.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

:root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  /*background: rgba(30, 31, 34, 1);*/
  /*background: #1c1c1e;*/
  background: #35363A;

}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  /*background: #1d2939;*/
  /*background: rgba(30, 31, 34, 1);*/

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* If the user prefers light mode,
we still enforce color-scheme: dark, despite the user preference */
@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.no-map {
  background-image: url("../../public/no-map.svg");
}

.filter:not(.map-icon) {
  filter: saturate(0.3) invert(1) hue-rotate(180deg);
}

.map-icon {
  /*height and width not working*/
  filter: saturate(1) invert(1) hue-rotate(180deg);

  svg {
    margin-top: 20%;
    height: 80%;
    width: 80%;
  }
}

.drawer-side::-webkit-scrollbar {
  width: 0;
}

.collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content) {
  padding-bottom: 0;
}

.collapse-title, :where(.collapse > input[type="checkbox"]) {
  min-height: 0;
}


/*.no-scrollbar{*/
/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  width: 0;

}

/* Handle */
::-webkit-scrollbar-thumb {
  width: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 0;
}

/*date-picker */
.react-daterange-picker__inputGroup:hover {
  color: white;
}

.react-daterange-picker__wrapper {
  border: none;
}

.react-daterange-picker__button svg {
  stroke: #9A9FA3;
}


.react-daterange-picker__button:enabled:hover .react-daterange-picker__button__icon,
.react-daterange-picker__button:enabled:focus .react-daterange-picker__button__icon {
  stroke: white;
}

/*react-calendar*/

.react-calendar {
  margin-top: 1rem;
  border-radius: 1rem;
  border: none;
  background: #2A2B2F;
}

.react-daterange-picker__inputGroup {
  font-weight: 600;
  font-size: 0.875rem;
}

.leaflet-control-attribution {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #9A9FA3;
}


/* fix chromium-bug: https://github.com/highcharts/highcharts/issues/21144*/
.charts {
  pointer-events: fill;
}

