@import 'react-calendar/dist/Calendar.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Inter, system-ui, sans-serif;
    background-color: #35363A;
    overflow: hidden;
    box-sizing: border-box;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
}

.no-map {
  background-image: url("../../public/no-map.svg");
}

.filter:not(.map-icon) {
  filter: saturate(0.3) invert(1) hue-rotate(180deg);
}

.map-icon {
  filter: saturate(1) invert(1) hue-rotate(180deg);

  svg {
    margin-top: 20%;
    height: 80%;
    width: 80%;
  }
}

.collapse:not(.collapse-close) > :where(input[type="checkbox"]:checked ~ .collapse-content) {
  padding-bottom: 0;
}

.collapse-title, :where(.collapse > input[type="checkbox"]) {
  min-height: 0;
}


.leaflet-control-attribution {
  display: none;
}

.leaflet-container {
  border-radius: 0.75rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #9A9FA3;
}


/*  highcharts fix chromium-bug: https://github.com/highcharts/highcharts/issues/21144*/
.charts {
  pointer-events: fill;
}


/*date picker*/
.bg-dark.rmdp-wrapper, .rmdp-month-picker, .rmdp-year-picker,
.rmdp-container::after {
  margin-top: 0.5rem;
  background: #1c1c1e !important;
  font: inherit;
  border-radius: 0.5rem;
  z-index: 1;

  .rmdp-week-day {
    color: #9A9FA3
  }

  .rmdp-arrow {
    border-color: #9A9FA3;
  }

  .rmdp-arrow-container:hover {
    box-shadow: none;
    background: transparent;

    .rmdp-arrow {
      border-color: white;
    }
  }
}
